<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title>超級單字王</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<div id='showxy'></div>

<script type="text/javascript">

var factor = window.innerWidth/2048; 
var offsetY = (window.innerHeight - 1536*factor) /2

//factor =0.8;



var config = {
    type: Phaser.CANVAS,
    width: 2048*factor,
    height: 1536*factor+ 2*offsetY,
    physics: {
        default: 'arcade',
        arcade: {
            gravity: { y: 0 },
            debug: false
        }
    },
    scene: {
        preload: preload,
        create: create,
        update: update
    }
};



//var stars;

var cursors;
var frametime, gameOver, onfishing,fishrate,fishtop,fishbot;
var score, scoreYes,scoreText ;
//var worm, wormText, wormX, wormY;

var mybutton=[];


var myPic=[] ;
var myMusic = [];
var myQues=[];
var raw = [];
var library = [];   // 定義四個按鈕分別是哪個選項
var answer;     // 第幾題
var question,qText;
var textsize;
var raw=[];
var isAni1,isAnitime1,isAnitimeDelta1;
var isAni2,isAnitime2,isAnitimeDelta2;
var isClick;
var menu4,menu5,menu6; //選單




function initial(){
    
    //myPic = ['boat','flower','sky','sand','grass','pond','fire','paint','tape','clown'];
    //myQues = ['1x2=','3x4=','5x6=','7x7=','8x4=','9x8=','5x5=','4x9=','8x8=','3x7='];
    //myPic= ['2','12','30','49','32','72','25','36','64','21'];
    
    newQuiz(30);
    frametime=0;
    gameOver = false;
    isAni1 = false;
    isAnitime1 = 0;
    isAnitimeDelta1 = 60;

    isAni2 = true;
    isAnitimeDelta2 = 1000;
    isAnitime2 = isAnitimeDelta2;
    isClick = true;
    answer = -1;
    
    // onfishing = false;
    textsize = Math.floor(50*factor) + 'px';

    score = 0;
}


var game = new Phaser.Game(config);

function preload (){
    initial(); // 載入初始設定參數



    this.load.image('bg01',  '/static/lucygame/bg01.png');
    this.load.image('btn01', '/static/lucygame/button01.png');
    this.load.image('btn02', '/static/lucygame/button02.png');
    this.load.image('btn05', '/static/lucygame/button05.png');
    this.load.image('btn07', '/static/lucygame/button07.png');

    this.load.image('menuwin', '/static/lucygame/menuwin.png');
    this.load.image('menu4', '/static/lucygame/menu4.png');
    this.load.image('menu5', '/static/lucygame/menu5.png');
    this.load.image('menu6', '/static/lucygame/menu6.png');
    this.load.image('btn06', '/static/lucygame/button06.png');


    this.load.image('goright', '/static/lucygame/goright.png');
    this.load.image('gowrong', '/static/lucygame/gowrong.png');
    
    // 載入所有問題卡資訊
    
    for (var i=0;i<myPic.length;i++){
    //    this.load.image(myPic[i], 'static/lucygame/'+myPic[i]+'.png');  
    //    this.load.audio('music'+myPic[i],'static/lucygame/'+myPic[i]+'.mp3');
    }
    
    
    this.load.audio('sound_coin','/static/lucygame/coin.mp3');
    this.load.audio('cardopen','/static/lucygame/cardopen.mp3');
    this.load.audio('sound_wrong','/static/lucygame/sound_wrong.mp3');
    this.load.audio('animaltheme','/static/lucygame/whatthegolf.mp3');

}

function create (){

    initial(); // 載入初始設定參數
    

    // 載入音樂
    music = this.sound.add('cardopen',{volume:0.2}) ;


    music2 = this.sound.add('animaltheme',{loop:true, volume:2});
    music2.loop = true;
    music2.stop();
    music2.play();

    for (var i=0; i<myPic.length;i++){
        myMusic[i] = this.sound.add('music'+myPic[i],{volume:1}) ;
    }
    
    music3 = this.sound.add('sound_coin',{volume:0.2});
    music4 = this.sound.add('sound_wrong',{volume:0.5});

    //  加入背景圖面
    this.add.image(game.config.width/2, game.config.height/2, 'bg01').setScale(factor);
    

    // 設定案件問題

    //question = this.physics.add.group();
    //question = new newbutton(question.create(game.config.width/2,530*factor+offsetY,myPic[answer]));
    //question.favor.setScale(factor*0.9);
  
    // 設定音樂
    //music = myMusic[answer];

    var myTextSize = 100*factor + 'px';
    var myText=[];
    myText[1] = this.add.text(259*factor, 1350*factor+offsetY,'one',{ fontSize: myTextSize, fill: '#000'}).setOrigin(0.5);
    myText[2] = this.add.text(770*factor, 1350*factor+offsetY,'two',{ fontSize: myTextSize, fill: '#000'}).setOrigin(0.5);
    myText[3] = this.add.text(1281*factor, 1350*factor+offsetY,'three',{ fontSize: myTextSize, fill: '#000'}).setOrigin(0.5);
    myText[4] = this.add.text(1792*factor, 1350*factor+offsetY,'four',{ fontSize: myTextSize, fill: '#000'}).setOrigin(0.5);

    myTextSize = 200*factor + 'px';
    qText = this.add.text(1024*factor, 600*factor+offsetY,'Answer',{ fontSize: myTextSize, fill: '#000'}).setOrigin(0.5);
    // 設定按鍵圖面 group..
    favor1 = this.physics.add.group();
    
    mybutton[1] = new newbutton(favor1.create(259*factor, 1350*factor+offsetY, 'btn01'), myText[1]);
    mybutton[2] = new newbutton(favor1.create(770*factor ,1350*factor+offsetY, 'btn01'), myText[2]);
    mybutton[3] = new newbutton(favor1.create(1281*factor,1350*factor+offsetY, 'btn01'), myText[3]);
    mybutton[4] = new newbutton(favor1.create(1792*factor ,1350*factor+offsetY,'btn01'), myText[4]);
    mybutton[5] = new newbutton(favor1.create(1890*factor, 988*factor+offsetY, 'btn02'), '');
    mybutton[6] = new newbutton(favor1.create(game.config.width/2, 930*factor+offsetY, 'btn06'), '');   // 正確 or 錯誤牌
    mybutton[7] = new newbutton(favor1.create(200*factor, 88*factor+offsetY, 'btn07'), '');             // 時間條
    // 調整按鍵圖面大小
    favor1.children.iterate(function (child) {
         child.setScale(factor);
    });
    
    mybutton[7].favor.setOrigin(0)
    //mybutton[7].favor.setScale(1*factor/3,factor);
    

    //============================
    // 設定點擊後的反應=
    mybutton[1].favor.setInteractive().on('pointerdown', () => { if(isClick){toTable(1);}})
    mybutton[2].favor.setInteractive().on('pointerdown', () => { if(isClick){toTable(2);}})
    mybutton[3].favor.setInteractive().on('pointerdown', () => { if(isClick){toTable(3);}})
    mybutton[4].favor.setInteractive().on('pointerdown', () => { if(isClick){toTable(4);}})

    mybutton[5].favor.setInteractive().on('pointerdown', () => {music.play();})

    //================================
    toNext();

   
    // // 宣告customer rder物件
    // orders = this.physics.add.group();

    // for (var i=0;i<user.length;i++){
    //     user1 = user[i];
    //     user1.customer.disableBody(true,true);
    //     user1.order.disableBody(true,true);
    //     user1.order2.disableBody(true,true);
    // }


    // // 秀出分數跟時間
    scoreText = this.add.text(1800*factor, 120*factor+offsetY, score + '/' + myPic.length, { fontSize: textsize, fill: '#fff' }).setOrigin(0.5);
    // wormText = this.add.text(wormX, wormY, worm, { fontSize: textsize, fill: '#000' });
    // 時間 =======================
    timetext = this.add.text(game.config.width/2,100*factor+offsetY,'time:'+frametime,{ fontSize: textsize, fill: '#000' ,boundsAlignH: 'center', boundsAlignV: 'middle' }).setOrigin(0.5);;
    cursors = this.input.keyboard.createCursorKeys();
   

    // 結束畫面 ===============
    menu4 = this.physics.add.sprite(game.config.width/2,game.config.height/2, 'menu4').setScale(factor);
    menu5 = this.physics.add.sprite(game.config.width/2,game.config.height/2, 'menu5').setScale(factor*0.9);
    menu6 = this.physics.add.sprite(game.config.width/2,1150*factor+offsetY, 'menu6').setScale(factor*0.6); 
    menu6.setInteractive().on('pointerdown', () => {
        music2.stop();
        this.scene.restart();
    })
    menu4.disableBody(true, true);  // 隱藏背景
    menu5.disableBody(true, true);  // 隱藏彈出視窗
    menu6.disableBody(true, true);  // 隱藏按鍵

}


//********************************************
// 更新：主程式
//************************************
function update (){
    if (cursors.space.isDown){
        initial();
        music2.stop();
        this.scene.restart();
    }

    // 遊戲結束
    if (gameOver){
        timetext.setText('Game Over');
        menu4.enableBody(true, game.config.width/2,game.config.height/2, true, true);
        menu5.enableBody(true, game.config.width/2,game.config.height/2, true, true);
        menu6.enableBody(true, game.config.width/2,1150*factor+offsetY, true, true);
        return;
    }

    if(isAni1 == true && frametime >  isAnitime1){
        isAni1= false;
        toNext();
    } 

    if(isAni2 == true && frametime >  isAnitime2){
        isAni2= false;
        toTable(5)
    } 

    var slength = (isAnitime2 - frametime)/isAnitimeDelta2;
    mybutton[7].favor.setScale(1*factor*slength,factor);

    
    scoreText.setText(score+ '/' + myPic.length);
    //timetext.setText('time:'+frametime);
    timetext.setText('');

    frametime += 1;

}

// ************************************


function toTable(pk){
    isClick = false;
    var mine = mybutton[pk].text.text;
  
    if (mine == myPic[answer]){
        // 如果答案正確 -----
        music3.play();
        mybutton[6].favor.setTexture('goright');
        score++;    // 得1分
        
    } else{
        // 如果答案錯誤 -----
        music4.play();
        mybutton[6].favor.setTexture('gowrong');

    }
    isAni1 = true;
    isAnitime1 = frametime + isAnitimeDelta1;

    isAni2 = true;
    isAnitime2 = frametime + isAnitimeDelta2;
    
    for(var i=1;i<=4;i++){
    //    mybutton[i].setText('');
    }
    //question.favor.setTexture('btn05');

}


function newbutton(favor,text){
     this.favor = favor;
     this.text = text;
     this.no = 999;
     this.setPic = function(pk){
        this.no = pk;
        this.favor.setTexture(myPic[pk]);
     }

     this.setText = function(pk){
        this.no = pk;
        this.text.setText(myPic[pk]);
     }

}


function toNext(){
    answer = answer +1;
    if(answer >= myPic.length){ 
        gameOver= true ;
        return;
    }
    isClick=true;

    music.play();   // 換題英樂
  
    qText.setText(myQues[answer]);
 
    var nnn= shuffle();
    for (var i=1;i<=4 ; i++){
        var n = nnn[i]
        mybutton[i].text.setText(n);
        //mybutton[i].setText(n);
    }
    mybutton[6].favor.setTexture('btn06');     // 將正確/錯誤牌關起來


}

function shuffle(){  
        var k = 0;
        var arr = [];
        var pk = 0;
        for (var i=1; i<82; i++){
            pk = myPic[answer]*1
            if(i == pk){  // 把答案那個取消
            } else{
                arr[k] = i.toString();
                k++;
            }
        }    
        //console.log(arr);
        var newArr=[];
        randomSort(arr,newArr);
        var choosing = Math.floor(Phaser.Math.FloatBetween(1, 5)) // 從1 ~4 選出一個數字
    
        newArr[choosing] = myPic[answer].toString();
    
        return newArr

}


function randomSort(arr, newArr) {
    // 如果原陣列arr的length值等於1時，原陣列只有一個值，其鍵值為0
    // 同時將這個值push到新陣列newArr中
    if(arr.length == 1) {
        newArr.push(arr[0]);
        return newArr; // 相當於遞迴退出
    }
    // 在原陣列length基礎上取出一個隨機數
    var random = Math.ceil(Math.random() * arr.length) - 1;
    // 將原陣列中的隨機一個值push到新陣列newArr中
    newArr.push(arr[random]);
    // 對應刪除原陣列arr的對應陣列項
    arr.splice(random,1);
    return randomSort(arr, newArr);
}


function newQuiz(pk){
    var pk1,pk2,pk3;   
    for (i=0;i<pk;i++){
        pk1 = Math.floor(Phaser.Math.FloatBetween(2,10)); // 從2 ~9 選出一個數字
        pk2 = Math.floor(Phaser.Math.FloatBetween(2,10)); // 從2 ~9 選出一個數字
        myQues[i] = pk1 + 'x' + pk2 + '=';
        myPic[i] =(pk1 * pk2).toString();
    }
    
}

</script>

</body>
</html>